

.appContainer {
   
    display: flex;
    height: 100vh;
    background-image: url(../utils/images/buyerback.png);
    background-size: cover;
    background-position: center;
    
  }
  
  .mainContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }